<div class="flex-between">
  <h1>List Fish Types</h1>
</div>

<div class="table-wrapper mt-8">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Fish</th>
      </tr>
    </thead>
    <tbody id="fish-type-table-body">
      <tr>
        <td colspan="9">Loading...</td>
      </tr>
    </tbody>
  </table>
</div>

<script src="/js/pools/list-fish-type.js"></script>