<h1>List Pool users</h1>

<div class="table-wrapper mt-8">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td></td>
      </tr>
      {{else}}
      <tr>
        <td colspan="3" class="text-muted">No users found.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>