<div class="flex-between">
  <h1>List Pool Users</h1>
  <a href="/api/v1/pools/export-pool-users" class="btn">Download CSV</a>
</div>

<div class="table-wrapper mt-8">
  <table>
    <thead>
      <tr>
        <th style="width: 60px;">ID</th>
        <th>Name</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.created}}</td>
      </tr>
      {{else}}
      <tr>
        <td colspan="3" class="text-muted">No users found.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>