<div class="flex-between">
  <h1>List Feed</h1>
  <div>
    <a href="/pools/add-feed" class="btn">Add Feed</a>
  </div>
</div>

<div class="table-wrapper mt-8">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Weight (kg)</th>
        <th>Date added</th>
      </tr>
    </thead>
    <tbody id="feeds-table-body">
      <tr>
        <td colspan="9">Loading...</td>
      </tr>
    </tbody>
  </table>
</div>

<script src="/js/pools/list-feed.js"></script>