<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
</head>
<body>
  {{> navbar}}
  <main>{{{body}}}</main>
  {{> modal-confirm}}
  <script src="/js/pools/modal-confirm.js"></script>
</body>
</html>