<nav>
    {{#if isPoolSection}}
        <a href="/pools/list">List Pool</a>
        <a href="/pools/add">Add Pool</a>
        <a href="/pools/list-user">List Pool User</a>
        <a href="/pools/add-user">Add Pool User</a>
    {{else if isUserSection}}
        <a href="/users/list">List User</a>
        <a href="/users/add">Add User</a>
    {{else}}
        <a href="/">Home</a>
    {{/if}}
</nav>